<ion-view cache-view="false" view-title="Inicio">
  <ion-content>
    <a class="item item-icon-left" href="#">
      <i class="icon ion-person-stalker"></i>
        Tu puntuación máxima es
      <span class="badge badge-assertive">{{max_total}}</span>
    </a>
    <br/>
    <div class="rowcategoria">
      <center>
        <div class="col col-50 auxp aux1 titulosN" ng-class="{aux6: is_category1}">Cultura<br/> Guatemalteca</div>
      </center>
    </div>
    <div class="rowcategoria">
      <center>
        <div class="col col-50 auxp aux2 titulosN" ng-class="{aux6: is_category2}">Pobreza<br/> y Desigualdad</div>
      </center>
    </div>
    <div class="rowcategoria">
      <center>
        <div class="col col-50 auxp aux3 titulosN" ng-class="{aux6: is_category3}">Historia<br/> Guatemalteca</div>
      </center>
    </div>
    <div class="rowcategoria">
      <center>
        <div class="col col-50 auxp aux4 titulosN" ng-class="{aux6: is_category4}">Personajes Guatemaltecos</div>
      </center>
    </div>
    <div class="rowcategoria">
      <center>
        <div class="col col-50 auxp aux5 titulosN" ng-class="{aux6: is_category5}"><div class="divparacentrar">&nbsp;</div>Ciudadanía</div>
      </center>
    </div>
    <button class="button button-full button-positive" ng-click="wheel()">
      {{txt_wheel_btn}}
    </button>
  </ion-content>
</ion-view>
