<ion-view view-title="Trivia - {{categoryName}}">
  <ion-content>
    <span >Tienes {{lives}} vidas.</span>
    </br>
    <span >Llevas {{points}} puntos.</span>
    </br>
    <div class="card">
      <span >{{question.question}}</span>
      <ion-list>
        <button class="button button-full button-royal" ng-click="answer(1)">{{question.opt1}}</button>
        <button class="button button-full button-royal" ng-click="answer(2)">{{question.opt2}}</button>
        <button class="button button-full button-royal" ng-click="answer(3)">{{question.opt3}}</button>
        <button class="button button-full button-royal" ng-click="answer(4)">{{question.opt4}}</button>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
